.bg-main {
    font-family: 'Mulish';
    color: #111827;
    font-size: 14px;
    line-height: 21px;
}

.text-title {
    line-height: 36px;
    margin: 0px 0px 16px;
}

.leading-none {
    display: inline-block;
}

.border-input {
    border-color: #dee2e6;
    box-shadow: #00000013 0px 2px 4px 0px;
    line-height: 21px;
}

.btn-submit {
    background-color: rgb(0 210 135);;
    line-height: 21px;
}

.left-tabbar-item-selected {
    background-color: #fff;
    border-left: 4px solid #00d287;
}